.wrapper {
    background-color: #ffffff;
}

.sectionheading {
    border-bottom: 3px solid #cccccc;
    color: #9ebad7;
}

h1.section-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
    color: #9ebad7;
}