
.card {
    opacity: .8;
    margin-bottom: 30px;
}

.card-img-overlay {
    border-width: 15px;
    border-color: #195DA3;
    border-style: solid;
    
}

.card:hover {
    opacity: 1;
}

.card-text {
    color:#ffffff;
    background-color: #195DA3;
    text-align: center;
    position: relative;
    top: 50px;
    margin: 0 auto;
   
}