.intro-content {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    /* margin: 0!important; */
    /* padding: 60px!important; */
    padding: 200px;
    background-image: url("../../images/starrysky.gif");
    /* background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../../images/starrysky.gif"); */
    /* background-color: #14110f!important; */
    color: whitesmoke;
    text-align: center;

}
