html {
    height: 100vh;
}

body {
    background-image: url("./images/seigaiha.png");
    height: 100vh;
    margin: 0;
}

#root {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

