.main-work {
    /* border-style: dotted; */
    /* border-color: orange; */
    background-color: #2f2f2f;
    height: 700px;
    background-image: url(../../img/dust_scratches.png);
}

.main-text {
    
}